*{
    margin: 0;
    padding: 0;
}
.main h1{
    background-color: rgb(90, 155, 206);
    color:rgb(40, 60, 50) ;
    font-size: 40px;
    margin-top: 5px;
    margin-bottom: 15px;
}
.main h2{
    background: #000;
    font-size: 30px;
    color:rgb(105, 35, 35) ;
    margin-bottom: 20px;
}
.main h3{
    background-color: grey;
    color:rgb(90, 200, 200) ;
    font-size: 25px;
    margin-bottom: 15px;
}
.main h4{
    background-color:darkslategray;
    color:whitesmoke ;
    font-size: 20px;
    margin-bottom: 15px;
}
.main h5{
    background-color:darkred ;
    color:white ;
    font-size: 20px;
    margin-bottom: 20px;
}
.main h6{
    background-color: rgb(162, 65, 105);
    color:rgb(228, 228, 237) ;
    font-size: 10px;
    margin-bottom: 15px;
}